LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

DLG_SCRNSAVECONFIGURE DIALOGEX 0, 0, 120, 80
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "OpenGL Gears Screensaver Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    AUTOCHECKBOX "Enable sRGB mode", IDC_SRGB, 5, 5, 110, 10
    AUTOCHECKBOX "Print OpenGL ICD info in KD", IDC_INFO, 5, 15, 110, 10
    AUTOCHECKBOX "Enable multisampling", IDC_MSAA, 5, 25, 110, 10
    /* LTEXT "Multisampling level:", IDC_WAITTEXT, 5, 35, 20, 9 */
    EDITTEXT IDC_MSAALEVEL, 5, 40, 32, 13, ES_RIGHT | WS_GROUP | WS_DISABLED
    CONTROL "", IDC_MSAA_CONTROL, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT |
            UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_BORDER | WS_GROUP, 25, 40, 12, 13
    PUSHBUTTON "OK", IDOK, 10, 60, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 65, 60, 50, 14
END

STRINGTABLE
BEGIN
    IDS_DESCRIPTION "OpenGL Gears ScreenSaver"
END
