LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_TROUBLESHOOT DIALOGEX 0, 0, 252, 226
STYLE DS_SHELLFONT | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Troubleshoot"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    ICON IDC_MONITORICO, IDC_MONITORICO, 7, 7, 21, 20, SS_ICON
    LTEXT " Are you having problems with your graphics hardware? These settings can help you troubleshoot display-related problems.", 204, 36, 6, 210, 26
    GROUPBOX "Hardware acceleration", -1, 7, 40, 242, 118
    LTEXT " Manually control the level of acceleration and performance supplied by your graphics hardware. Use the Display Troubleshooter to assist you in making the change.", -1, 18, 52, 230, 28
    LTEXT "&Hardware acceleration:", -1, 18, 88, 90, 9
    RTEXT "None", -1, 110, 88, 19, 9
    LTEXT "Full", -1, 218, 88, 19, 9
    CONTROL "", IDC_ACCELERATION_LEVEL, "msctls_trackbar32", TBS_AUTOTICKS | WS_GROUP | WS_TABSTOP, 134, 86, 79, 18
    LTEXT "", IDC_ACCELERATION_LEVEL_TEXT, 18, 112, 218, 28
    AUTOCHECKBOX "&Enable write combining", IDC_WRITE_COMBINING, 18, 142, 180, 10
END

IDD_COMPATIBILITY DIALOGEX 132, 64, 233, 115
CAPTION "Compatibility Warning"
STYLE DS_CENTERMOUSE | DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0x0
{
    AUTORADIOBUTTON "&Restart the computer with the new display settings?", IDC_REBOOT_REQUIRED, 30, 45, 190, 8, NOT WS_TABSTOP
    AUTORADIOBUTTON "&Apply the new display settings without restarting?", IDC_WITHOUT_REBOOT, 30, 57, 190, 8, NOT WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 121, 70, 50, 14, WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 175, 70, 50, 14, WS_GROUP
    AUTOCHECKBOX "&Don't ask this question again", IDC_SAVE_CDSPREF, 7, 94, 200, 13, WS_GROUP
    LTEXT "The settings you have chosen may cause some programs to operate improperly if you do not restart your computer now.\r\n\nWould you like to:", -1, 7, 7, 219, 36
}

STRINGTABLE
BEGIN
    IDS_LEVEL0 "All accelerations are enabled. Use this setting if your computer has no problems. (Recommended)"
    IDS_LEVEL1 "Disable cursor and bitmap accelerations. Use this setting to correct problems with the mouse pointer, or to correct problems with corrupt images."
    IDS_LEVEL2 "Disable all cursor and advanced drawing accelerations. Use this setting to correct drawing problems."
    IDS_LEVEL3 "Disable all DirectDraw and Direct3D accelerations, as well as all cursor and advanced drawing accelerations. Use this setting to correct severe problems with DirectX accelerated applications."
    IDS_LEVEL4 "Disable all but basic accelerations. Use this setting to correct more severe problems."
    IDS_LEVEL5 "Disable all accelerations. Use this setting only if your computer frequently stops responding or has other severe problems."
    IDS_USWC_TITLE "Write combining"
    IDS_USWC_DESC "You must restart your computer before the new setting will take effect."
    IDS_REG_ERROR_TITLE "Unexpected error"
    IDS_REG_ERROR_DESC "The new settings could not be saved to registry."
END
